fpdf2
google-genai
markdown2
mistletoe
numpy
openpyxl==3.1.2
pandas==2.2.2
pdfkit
pdfplumber
Pillow
plotly
PyPDF2
PyYAML
sentry_sdk==2.13.0
st_gsheets_connection
streamlit==1.37.0
streamlit_authenticator
streamlit_vis_timeline